# Ignore environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.venv

# Database files
*.db
data/
# ChromaDB persistent storage
chroma_db/
# Ignore Python cache files
__pycache__/